body {
    font-family: Arial;
    background: #0a0f1d;
    color: white;
    padding: 20px;
}

.capsuleItem {
    background: rgba(255,255,255,0.05);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    border: 1px solid rgba(255,255,255,0.2);
}
